#cv-form{
    /* display: none; */
}
#cv-template{
    display: none;
}
.myImg{
 
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.background{
    background: hsl(0, 14%, 73%);
}
.background-second{
    background: rgb(225, 246, 250);
}
.person-name{
    font-weight: 600;
}

